.bpmn-js-bpmnlint-button,
.bpmn-js-bpmnlint-issues .group {
  border-radius: 100px;
}

.bpmn-js-bpmnlint-issues .icons .icon {
  border-radius: 100%;
}

.bpmn-js-bpmnlint-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fafafa;
  padding: 5px 10px;
  border: none;
  color: #ddd;
  display: flex;
  align-items: center;
  outline: none;
  font-weight: bold;
}

.bpmn-js-bpmnlint-button.inactive:hover {
  color: #444;
}

.bpmn-js-bpmnlint-button svg {
  margin-top: -1px;
  margin-right: 10px;
}

.bpmn-js-bpmnlint-button.success {
  background-color: #52b415;
  color: white;
}

.bpmn-js-bpmnlint-button.error {
  background-color: #cc3300;
  color: white;
}

.bpmn-js-bpmnlint-button.warning {
  background-color: #ffc800;
  color: white;
}

.bpmn-js-bpmnlint-issues:not(.open) {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.bpmn-js-bpmnlint-issues {
  padding: 8px;
  bottom: 5px;
  color: #444;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  position: absolute;
  border: solid 1px #ccc;
  border-radius: 2px;
  background: #FAFAFA;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  z-index: 500;
}

.bpmn-js-bpmnlint-issues.hover {
  z-index: 1000;
}

.djs-overlay-linting .icon {
  background: white;
  border-radius: 100%;
  display: inline-block;
  height: 20px;
  line-height: 23px;
  text-align: center;
  width: 20px;
}

.djs-overlay-linting .icon.error {
  background-color: #cc3300;
  color: white;


  /* color: #cc3300; */
}

.djs-overlay-linting .icon.warning {
  background-color: #ffc800;
  color: white;
  /* color: #ffc800; */
}

.bpmn-js-bpmnlint-issues {
  min-width: 200px;
}

.bpmn-js-bpmnlint-issues ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bpmn-js-bpmnlint-issues ul li {
  display: flex;
  flex-direction: row;
}

.bpmn-js-bpmnlint-issues ul li.error svg {
  color: #cc3300;
}

.bpmn-js-bpmnlint-issues ul li.warning svg {
  color: #ffc800;
}

.bpmn-js-bpmnlint-issues ul:not(:first-child),
.bpmn-js-bpmnlint-issues ul li:not(:first-child) {
  margin-top: 8px;
}

.bpmn-js-bpmnlint-issues ul li a {
  color: #444;
  margin-left: 8px;
  text-decoration: none;
}

.bpmn-js-bpmnlint-issues ul li a:hover {
  text-decoration: underline;
}

.bpmn-js-bpmnlint-root-element-issues {
  position: absolute;
  bottom: 20px;
  left: 20px;
}